<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="130px"
    alt="Pwermeter Logo"
    src="../../../assets/power-logo.png"
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <div class="site-header__menu">
      <nav class="site-header__nav">
        <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
        <a href="{{redirectUrl}}">Login</a>

        <a href="" class="current"><i class="bell outline icon"></i>Dispositivos</a>
        <a href="" class="current"><i class="question circle outline icon"></i>Cuenta</a>
        <a href="" class="current"><i class="cog icon"></i>Soporte</a>
        <a href="" class="current"><i class="power off icon"></i>Logout</a>
      </nav>
   </div>
</div>

