.example-card {
    padding: 50px;
    width: 100%;
    margin: 15px 15px 220px 15px;
  }
  .example-card-headers{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    padding: 10px;
  }
  .gauge {
    width: 33%;
    height: 300px;
    padding:10px;
  }
  .container{
      display: flex;
      flex-direction: row;
  }
  .example-header-image {
    background-image: url('./../../../../assets/images/consumo-instante.png');
    background-size: cover;
  }
  